<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matheducator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.mathtimeexplorer.main.LoadAppActivity" 
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.mathtimeexplorer.main.MainActivity"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.main.OptionActivity"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.worksheets.QuizActivity"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.main.CreditsActivity"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.tutorials.TutorialActivity"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.ranking.RankingTab"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.ranking.RankingTabHost"  android:screenOrientation="landscape"/>
        
        <activity android:name="com.mathtimeexplorer.xgame.XGame"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.coincoin.CoinCoin"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.worksheets.SelectQuizActivity"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.main.SelectPracticeSetActivity"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.main.PracticeSetActivity"  android:screenOrientation="landscape"/> 
        <activity android:name="com.mathtimeexplorer.main.OtherTopicActivity"  android:screenOrientation="landscape"/>
        <activity android:name="com.mathtimeexplorer.fractiongame.FractionGameActivity"  android:screenOrientation="landscape"/>
        
        
    </application>
    
</manifest>
